<h1>Перечень СМО и МО</h1>
<p align="right">
	<%= image_tag "782209001_6.jpg", :width => "168", :height => "168", :alt => "ЛПУ.jpg" %>
</p>
<p align="center"> </p>
<p class="MsoNormal" align="center" style="text-align: center;">
<strong>
<span style="font-size: 14.0pt; font-family: Futuris;">СМО КЕМЕРОВСКОЙ ОБЛАСТИ</span>
</strong>
</p>
<div>
	<table border="0" align="center">
		<tbody>
			<tr>
				<td>
					<%= image_tag "602988003_6.jpg", :width => "150", :height => "52", :alt => "Сибирь" %>
				</td>
				<td style="text-align: left;"><a href="http://www.smo-siberia.ru/" target="_blank" title="www.smo-siberia.ru"><strong>Открытое акционерное общество Страховая медицинская организация "Сибирь"</strong></a></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "602987803_6.jpg", :width => "150", :height => "52", :alt => "Ингосстрах" %>
			</td>
			<td style="text-align: left;"><a href="http://www.ingos-m.ru/" target="_blank" title="www.ingos-m.ru"><strong>Филиал Общество с ограниченной ответственностью "СК "Ингосстрах-М" в г.Кемерово</strong></a></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "602987603_6.jpg", :width => "150", :height => "120", :alt => "ЖСО" %>
			</td>
			<td><a href="http://www.jso-medicina.ru/" target="_blank" title="www.jso-medicina.ru"><strong>Общество с ограниченной ответственностью "ЖСО-Медицина"</strong></a></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "602987003_6.jpg", :width => "181", :height => "100", :alt => "СДС-Медицина" %>
			</td>
			<td><a href="http://medicine.sksds.ru/" target="_blank" title="medicine.sksds.ru"><strong>ООО &laquo;Страховая компания &laquo;Сибирский Дом Страхования - Медицина&raquo;</strong></a></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "602987203_6.jpg", :width => "174", :height => "81", :alt => "Страховая медицинская компания Сибирский Спас-Мед" %>
			</td>
			<td><strong><a href="http://www.sibspas.ru/med/" target="_blank" title="www.sibspas.ru/med">Закрытое акционерное общество&nbsp;Страховая медицинская компания Сибирский Спас-Мед"</a></strong></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "602987403_6.jpg", :width => "150", :height => "46", :alt => "ВСК" %>
			</td>
			<td><a href="http://www.vsk-miloserdie.ru/" title="www.vsk-miloserdie.ru"><strong>Кемеровский филиал ООО "Страховая компания "ВСК-Милосердие"</strong></a></td>
			</tr>
			<tr>
			<td>
				<%= image_tag "775428401_5.jpg", :width => "180", :height => "146", :alt => "ЦМС" %>
			</td>
			<td><a href="http://www.zdravo.su/" title="www.zdravo.su"><strong><strong>Общество с ограниченной ответственностью Страховая медицинская организация &laquo;ЦМС&raquo;</strong></strong></a></td>
			</tr>
		</tbody>
	</table>
</div>
<p align="center" class="MsoNormal" style="text-align: center;"><strong><strong>&nbsp;</strong></strong></p>
<p>&nbsp;</p>
<p align="center" class="MsoNormal" style="text-align: center;"><strong><span style="font-size: 14.0pt; font-family: Futuris;"></span></strong></p>
<p align="center" class="MsoNormal" style="text-align: center;"><strong><span style="font-size: 14.0pt; font-family: Futuris;">РЕЕСТР</span></strong></p>
<div align="center"><strong><span style="font-size: 14.0pt; font-family: Futuris; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: RU; mso-fareast-language: RU; mso-bidi-language: AR-SA;">организаций, осуществляющих деятельность в области здравоохранения и участвующих в реализации</span></strong><span style="font-size: 14.0pt; font-family: Futuris; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: RU; mso-fareast-language: RU; mso-bidi-language: AR-SA;"> т<strong>ерриториальной программы обязательного медицинского страхования</strong></span></div>
<p>&nbsp;</p>
<p align="center">(в ред.&nbsp;<a href="file:////localhost/main">Закона</a> Кемеровской области от 20.12.2011 N 140-ОЗ)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО&nbsp; &laquo;Кемеровская областная клиническая больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО&nbsp; &laquo;Областной клинический госпиталь для ветеранов войн&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГАУЗ Кемеровской области &laquo;Областная клиническая стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ &laquo;Новокузнецкий клинический онкологический диспансер&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО &laquo;Кемеровская областная клиническая офтальмологическая больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО &laquo;Областная клиническая ортопедо-хирургическая больница восстановительного лечения&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО &laquo;Областной клинический онкологический диспансер&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ГБУЗ КО &laquo;Кемеровский областной клинический перинатальный центр имени Л.А.Решетовой&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Кемерово</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Кемеровский кардиологический диспансер&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Федеральное государственное бюджетное учреждение &laquo;Научно-исследовательский институт комплексных проблем сердечно-сосудистых заболеваний&raquo; Сибирского отделения РАМН</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская городская клиническая больница № 5&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская инфекционная клиническая больница № 8&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая больница № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая больница № 3 им. М.А.Подгорбунского&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая больница № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая больница № 11&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 13&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Больница № 15&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>19.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая больница № 1 имени М.Н.Горбуновой&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>20.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская клиническая больница № 7&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>21.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская клиническая больница № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>22.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская клиническая больница № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>23.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКЛПУ &laquo;Клиническая больница № 1 Главного управления Федеральной службы исполнения наказаний по Кемеровской области&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>24.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Клиническая поликлиника №5&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>25.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Поликлиника № 6&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>26.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская клиническая поликлиника № 20&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>27.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Клинический консультативно-диагностический центр&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>28.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ &laquo;Городская клиническая стоматологическая поликлиника № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>29.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ &laquo;Городская клиническая стоматологическая поликлиника № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>30.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ &laquo;Городская клиническая стоматологическая поликлиника № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>31.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ &laquo;Городская клиническая стоматологическая поликлиника № 11&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>32.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУЗ &laquo;Медико-санитарная часть Министерства внутренних дел Российской Федерации по Кемеровской области&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>33.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Кемеровское ОАО &laquo;Азот&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>34.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ЗАО Медико-санитарная часть &laquo;Центр здоровья &laquo;Энергетик&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>35.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ОАО &laquo;Кокс&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>36.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; НУЗ &laquo;Отделенческая больница на станции Кемерово открытого акционерного общества &laquo;Российские железные дороги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>37.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медэк&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>38.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинская практика&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>39.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Сибирское здоровье&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>40.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинский центр &laquo;Ваш доктор&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>41.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Кузбасская медицинская корпорация&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>42.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центр общей врачебной практики&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>43.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинский центр &laquo;Максимум здоровья&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>44.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Лечебно-диагностический центр Международного института биологических систем Кемерово&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>45.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-43 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>46.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-5 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>47.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-40 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>48.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-29 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>49.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ СИЗО-1 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Анжеро-Судженск</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>50.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ&nbsp; Анжеро-Судженского городского округа &laquo;Центральная городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>51.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ Анжеро-Судженского городского округа &laquo;Стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>52.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ КП-31 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>53.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ СИЗО-4 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Белово</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>54.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; НУЗ &laquo;Узловая больница на станции Белово открытого акционерного общества &laquo;Российские железные дороги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>55.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ &laquo;Городская поликлиника №3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>56.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>57.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская городская больница №1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>58.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская инфекционная больница № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>59.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 8&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>60.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ Стоматологическая поликлиника г.Белово</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>61.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ Городская больница №1 г.Белово</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>62.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница №2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>63.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ Городская больница №6</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>64.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-44 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Беловский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>65.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Беловская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Березовский</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>66.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>67.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Поликлиника № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>68.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>69.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Травмпункт&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>70.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Центр здоровья СДС&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Гурьевский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>71.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница&raquo; Гурьевского муниципального района</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>72.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУ &laquo;Городская стоматологическая поликлиника&raquo; г.Гурьевска</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>73.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Губернский центр охраны здоровья металлургов&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Ижморский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>74.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Ижморская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Калтан</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>75.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>76.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница №2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Кемеровский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>77.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница&raquo; Кемеровского муниципального района</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>78.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-22 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Киселевск</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>79.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ &laquo;Городская больница № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>80.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ &laquo;Городская больница № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>81.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ &laquo;Детская городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>82.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУ &laquo;Городская стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>83.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>84.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;ЛеОМеД&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Крапивинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>85.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Крапивинская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>п.г.т. Краснобродский</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>86.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Краснобродская городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Ленинск-Кузнецкий</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>87.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>88.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФГБЛПУ &laquo;Научно-клинический центр охраны здоровья шахтеров&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>89.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская инфекционная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>90.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Стоматологическая поликлиника № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>91.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ЛИУ-42 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>92.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ Ленинск-Кузнецкая ВК ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Ленинск-Кузнецкий район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>93.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ Центральная районная больница Ленинск-Кузнецкого муниципального района</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Мариинск и Мариинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>94.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; НУЗ &laquo;Узловая поликлиника на станции Мариинск открытого акционерного общества &laquo;Российские железные дороги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>95.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo; Мариинского муниципального района</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>96.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-1 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>97.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-35 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>98.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ СИЗО-3 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>99.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ЛИУ-33 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>100.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ Мариинская ВК ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Междуреченск</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>101.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>102.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ КП-14 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>103.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ОУХД КП-11 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Мыски</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>104.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Новокузнецк</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>105.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>106.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница № 2 Святого великомученика Георгия Победоносца&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>107.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница № 5&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>108.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая инфекционная больница № 8&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>109.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая поликлиника № 9&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>110.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница №11&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>111.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская больница № 16&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>112.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница № 22&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>113.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская больница № 26&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>114.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая больница № 29&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>115.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Детская городская клиническая больница № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>116.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская детская клиническая больница № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>117.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская детская больница № 6&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>118.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская детская больница № 28&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>119.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Родильный дом № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>120.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Клинический родильный дом № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>121.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Зональный перинатальный центр&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>122.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКЛПУ &laquo;Больница № 2 Главного управления Федеральной службы исполнения наказаний по Кемеровской области&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>123.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФГБУ &laquo;Новокузнецкий научно-практический центр медико-социальной экспертизы и реабилитации инвалидов Федерального медико-биологического агентства&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>124.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская поликлиника № 1 (общая врачебная практика)&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>125.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Амбулатория № 4 (общая врачебная практика)&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>126.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская клиническая стоматологическая поликлиника № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>127.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская стоматологическая поликлиника № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>128.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская стоматологическая поликлиника № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>129.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская стоматологическая поликлиника № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>130.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Детская стоматологическая поликлиника № 5&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>131.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБЛПУ &laquo;Городская стоматологическая поликлиника № 6&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>132.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; НУЗ &laquo;Узловая больница на станции Новокузнецк открытого акционерного общества &laquo;Российские железные дороги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>133.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинский центр &laquo;Спас 03&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>134.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинский центр &laquo;Ваш доктор&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>135.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО ЧВП Домашний врач</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>136.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО Санаторий профилакторий Нарцисс</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>137.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Лечебно-диагностический центр Международного института биологических систем - Новокузнецк&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>138.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; КРОО &laquo;Центр реабилитации инвалидов и ветеранов&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>139.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Максидент&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>140.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-12 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>141.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ СИЗО-2 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>142.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ЛИУ-16 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Новокузнецкий район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>143.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУ Центральная районная больница Новокузнецкого района</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Осинники</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>144.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>145.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ Детская городская больница</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>146.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ Стоматологическая поликлиника</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>147.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ЗАО &laquo;Фамилия&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Полысаево</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>148.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная городская больница&raquo; г.Полысаево</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Прокопьевск</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>149.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>150.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>151.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 3&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>152.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница № 4&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>153.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская инфекционная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>154.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская стоматологическая поликлиника № 1&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>155.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУЗ &laquo;Городская стоматологическая поликлиника № 2&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>156.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Детская городская больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>157.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>158.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Клиника медицинских осмотров&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>159.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ОАО &laquo;Санаторий &laquo;Прокопьевский&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>160.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Лео-М&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>161.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;ЛеОКон&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Прокопьевский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>162.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Прокопьевская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Промышленновский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>163.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница Промышленновского района&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>164.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Санаторий Танай&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Тайга</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>165.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; НУЗ &laquo;Узловая больница на станции Тайга открытого акционерного общества &laquo;Российские железные дороги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>166.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ЛИУ-21 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Таштагольский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>167.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Таштагольская Центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>168.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАУ &laquo;Городская стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>169.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ОУХД ИК-4 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Тисульский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>170.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница Тисульского района&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Топкинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>171.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница Топкинского муниципального района&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Тяжинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>172.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Тяжинская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Чебулинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>173.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Центральная районная больница Чебулинского муниципального района&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>174.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ КП-2 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>175.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ КП-3 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>г. Юрга</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>176.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница №1 города Юрги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>177.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Городская больница №2 города Юрги&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>178.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Стоматологическая поликлиника&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>179.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Поликлиника &laquo;Общая (групповая) врачебная практика&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>180.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Медицинский центр &laquo;Здоровье&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>181.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;Врачебная практика &laquo;Здоровье и красота&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>182.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-41 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>183.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-50 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Юргинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>184.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Юргинская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Яйский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>185.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ &laquo;Яйская центральная районная больница&raquo;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>186.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ФКУ ИК-37 ГУФСИН России по Кемеровской области</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Яшкинский район</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p>187.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МБУЗ Яшкинского муниципального района &laquo;Яшкинская центральная районная больница&raquo;</p>

<ul>
<li> <a href="vidy_i_usloviya_okazaniya_medicinsk.html" ><b>Виды и условия оказания медицинской помощи</b></a></li>
</ul>