<div class="page-header">
  <h4>Новые личные данные</h4>
</div>

<%= simple_form_for @person, :url => newfam_people_path, :method => :post, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f| %>

  <div class="control-group radio_buttons required">
      <label class="radio_buttons required control-label">
        <abbr title="required">*</abbr>
        Причина
      </label>
      <div class="controls">
        <label class="radio radio inline">
          <%= radio_button_tag "vizit[rpolis]",1,  :checked => true %>
          изменение реквизитов
        </label>
        <label class="radio radio inline">
          <%= radio_button_tag "vizit[rpolis]",2 %>
          установление ошибочности сведений
        </label>
      </div>
  </div>
  
  <%= f.input :id, :as => :hidden %>
  <%= f.input :status, :as => :hidden %>
  <%= f.input :c_oksm, :as => :hidden %>
  
  <%= f.input :fam, :label => 'Фамилия', :input_html => {onkeyup:'this.value=this.value.toUpperCase()'} %>
 
  <%= f.input :im, :label => 'Имя', :input_html => {onkeyup:'this.value=this.value.toUpperCase()'} %>
    
  <%= f.input :ot, :label => 'Отчество', :input_html => {onkeyup:'this.value=this.value.toUpperCase()'} %>
    
  <%= f.input :w, :label => 'Пол', :collection => [[ 'Мужской', 1 ], ['Женский', 2]], :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    
  <%= f.input :dr, :label => 'Дата рождения', :include_blank => true, :as => :date, :start_year => Date.today.year - 90,:end_year => Date.today.year,:order => [:day, :month, :year] %>
   
  <%= f.simple_fields_for @person.doc, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |fdoc| %>
  
  <%= fdoc.input :doctype, :collection => Tipdoc.all(:order => :docname),
		    :label_method => :docname, :value_method => :iddoc, :include_blank => false, 
		    :label => 'Документ', :input_html => {class: "span6"}%>

  <%= fdoc.input :docser, :label => 'Серия' %>

  <%= fdoc.input :docnum, :label => 'Номер' %>
  
  <%= fdoc.input :docdate,:label => 'Дата выдачи', :include_blank => true, :as => :date, :start_year => Date.today.year - 20,:end_year => Date.today.year,:order => [:day, :month, :year] %>

  <%= fdoc.input :name_vp, :label => 'Кем выдан', :input_html => {class: 'span6', onkeyup: 'this.value=this.value.toUpperCase()'} %>

  <%= fdoc.input :mr, :as => :hidden %>
  <% end %>
  
  <% directory = "public/numbers" %>
  <% name = "numbers.ini" %>
  <% path = File.join(directory, name) %>
  <% ini_file = IniFile.load(path).to_h %>
  <%= fields_for @polis do |p| %>
    <div class="control-group select optional">
      <label class="select optional control-label" for="polis_spolis">Серия временного свидетельства</label>
      <div class="controls">
        <%= p.select(:spolis,options_for_select(ini_file.values.collect{|x| x["series"]}),{:include_blank => true, :class => "select optional span2"})%>
      </div>
      </div>
      <div class="control-group string optional">
      <label class="string optional control-label" for="polis_npolis">Номер временного свидетельства</label>
      <div class="controls">
        <%= p.text_field(:npolis, {:class => "string optional span2", :maxlength => 6}) %>
      </div>
    </div>
  <% end  %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :id => '' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                home_path, :class => 'btn' %>
  </div>
  <% end %>
  