<%= search_form_for @search do |f| %>

  <div class="people_search_fild" >
	<%= f.label :fam_cont, 'Фамилия' %>
  <%= f.text_field :fam_cont %>
  </div>
  
  <div class="people_search_fild">
	<%= f.label :im_cont, 'Имя' %>
  <%= f.text_field :im_cont %>
  </div>
  
  <div class="people_search_fild">
	<%= f.label :ot_cont, 'Отчество' %>
  <%= f.text_field :ot_cont %>
  </div>
  
  <p><%= f.submit_tag "Search", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %></p>
  
<% end %>

  
    
  
    
  
      


  
