<%- model_class = Person -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human %></h3>
</div>
<div class="person-block">
    <div>
      <p><strong>Застрахованное лицо</strong></p>
      <%= @person.fam %> <%= @person.im %> <%= @person.ot %><br />
      
      <%= @person.w == 1 ? "мужской" : "женский"  %><br />
      
      <%= @person.dr %><br />
      
      <%= @person.ss %><br />
      
      <%= @person.phone %><br />
      
      <%= @person.email %><br />
    </div>
</div>

  <% if @person.vizit.insurance.polis.vpolis == 2 %>  
    <p>
      <%= link_to "Печать временного свидетельства", print_polis_url(@person), target: "_blank"  %>
    </p>
  <% end -%>
    <p>
      <%= link_to "Печать заявления о выдаче дубликата полиса или переоформлении полиса", print_doublecat_url(@person), target: "_blank"  %>
    </p>