<% @vizit.build_insurance %>
<% @vizit.insurance.build_polis %>
<%= simple_form_for @vizit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :dvizit, :label => "Дата обращения ЗЛ", :as => :date, :end_year => Date.today.year,:order => [:day, :month, :year] %>
  
  <%= f.input :person_id, :input_html => { :value => @person.id } %>
  
  <%= render :partial => 'insurances/form', :locals => {:form => f} %>
  
<% if @person.fiopr? %>
	<%= f.input :method, :label => 'Способ подачи заявления', 
			:as => :select, :include_blank => false,
			:collection => [
			["через представителя",2]],
			:input_html => { :class => "span4" }%>
  <% else %>
	<%= f.input :method, :label => 'Способ подачи заявления', 
			:as => :select, :include_blank => false,
			:collection => [
			["лично",1],
			["через официальный сайт ТФОМС",3],
			["через единый портал государственных услуг",4]], 
			:input_html => { :class => "span4" }%>
<% end %>
  <%= f.input :petition, :inline_label => 'Подано ходатайство', :as => :boolean %>
  <%= f.input :rsmo, :label => 'Причина подачи заявления о выборе(замене) СМО', 
		   :include_blank => false,
		  :collection => [
		  ["первичный выбор СМО",1],
		  ["замена СМО в соответствии с правом замены",2],
		  ["замена СМО в связи со сменой места жительства",3],
		  ["замена СМО в связи с прекращением действия договора",4]], 
		  :input_html => { :class => "span5" } %>
  <%= f.input :rpolis, :label => 'Причина подачи заявления о выдаче дубликата или переоформлении полиса', 
		  :as => :select, 
		  :collection => [
		  ["изменение реквизитов",1],
		  ["установление ошибочности сведений",2],
		  ["ветхость и непригодность полиса",3],
		  ["утрата ранее выданного полиса",4],
		  ["окончание срока действия полиса",5]], 
		  :input_html => { :class => "span3" } %>
  <%= f.input :fpolis, :label => 'Выбранная форма изготовления полиса', 
		  :as => :select, :include_blank => false,
		  :collection => [
		  ["не требует изготовления полиса",0],
		  ["бумажный бланк",1],
		  ["пластиковая карта",2],
		  ["в составе УЭК",3]],
		  :input_html => { :class => "span3" } %>
		  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    
  </div>
<% end %>


<!--<%= simple_form_for @vizit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :dvizit %>
  <%= f.input :method %>
  <%= f.input :petition %>
  <%= f.input :rsmo %>
  <%= f.input :rpolis %>
  <%= f.input :fpolis %>
  <%= f.input :person_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vizits_path, :class => 'btn' %>
  </div>
<% end %>-->
