<% @vizit.build_insurance %>
<% @vizit.insurance.build_polis %>
<% @vizit.insurance.polis[:dstop] = @person.doc.ig_enddate  %>

<%= simple_form_for @vizit, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f| %>

  <%= f.input :person_id, :input_html => { :value => @person.id } %>
  
  <%= render :partial => 'insurances/form', :locals => {:form => f} %>
  
  <%= f.input :petition, :inline_label => 'Подано ходатайство', :as => :boolean %>
  
<% if @person.fiopr? %>
	<%= f.input :method, :label => 'Способ подачи заявления', :as => :select, 
  :collection => [["через представителя",2]], :include_blank =>false,
	:input_html => { :class => "span3", :disabled => "disabled" }%>
  <% else %>
	<%= f.input :method, :label => 'Способ подачи заявления', 
	:as => :select, :include_blank => false,:collection => method_podachi_zayvlenia, 
  :input_html => { :class => "span3" }%>
<% end %>

  <%= f.input :rsmo, :label => 'Причина подачи заявления о выборе(замене) СМО', 
		  :include_blank => false, :collection => vibor_zamena_smo, :input_html => { :class => "span4" } %>
      
  <%= f.input :rpolis, :label => 'Причина подачи заявления о выдаче дубликата или переоформлении полиса', 
		  :as => :select, :collection => prichina_zameni_polisa, :input_html => { :class => "span3" } %>
      
  <%= f.input :fpolis, :label => 'Выбранная форма изготовления полиса', 
		  :as => :select, :include_blank => false,
		  :collection => forma_polisa, :input_html => { :class => "span3" } %>
      
  <%= f.input :dvizit, :input_html => {:type => 'hidden'} %>
		  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    
  </div>
<% end %>



