<!DOCTYPE html>
<html>
<head>
  <title>Печать заявления о выборе (замене) страховой медицинской организации</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag "print_petition", :media => "print" %>
  <%= javascript_include_tag "print_petition" %>
</head>
<body>
  <input type="button" id="print" onclick="javascript:print()" value="Печать"/>
  <p>В ООО Страховая медицинская организация "ЦМС"</p>
  <p>от <%= @person.fam + " " + @person.im + " " + @person.ot%></p>
  <h3>ЗАЯВЛЕНИЕ</h3>
  <h3>о выборе (замене) страховой медицинской организации<sup>1</sup></h3>
  <p>Прошу зарегистрировать меня (гражданина, представителем которого я являюсь) (нужное подчеркнуть) 
в качестве лица, застрахованного по обязательному медицинскому страхованию, в страховой медицинской организации 
ООО Страховая медицинская организация «ЦМС» в связи с (нужное отметить знаком «V»):</p>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr><td id="1">Data</td><td>1)	выбором страховой медицинской организации;</td></tr>
    <tr><td id="2">Data</td><td>2)	заменой страховой медицинской организации в соответствии с правом замены один раз в течение календарного года;</td></tr>
    <tr><td id="3">Data</td><td>3)	заменой страховой медицинской организации в связи со сменой места жительства;</td></tr>
    <tr><td id="4">Data</td><td>4)	заменой страховой медицинской организации в связи с прекращением действия договора о финансовом обеспечении обязательного медицинского страхования.</td></tr>
  </table>
  <p>и выдать мне (гражданину, представителем которого я являюсь) (нужное подчеркнуть) в соответствии с Федеральным законом «Об обязательном медицинском страховании в Российской Федерации» полис обязательного медицинского страхования (нужное отметить знаком «V»):</p>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr><td>Data</td><td>1)	в форме бумажного бланка;</td></tr>
    <tr><td>Data</td><td>2)	в форме пластиковой карты с электронным носителем; </td></tr>
    <tr><td>Data</td><td>3)	в составе универсальной электронной карты гражданина;</td></tr>
    <tr><td>Data</td><td>4)	отказ от получения полиса.</td></tr>
  </table>
  <br/>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr><td>Номер полиса<sup>2</sup>:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>
    </td><td></td><td></td><td></td><td></td><td></td><td></td><td>Отсутствует<sup>3</sup></td><td></td></tr>
  </table>
  <div>С условиями обязательного медицинского страхования ознакомлен.<span>(подпись застрахованного лица или его представителя)</span></div>
  <h3>1. Сведения о застрахованном лице</h3>
    <div>1.1.	Фамилия  <%= @person.fam  %><span>(указывается в точном соответствии с записью в документе, удостоверяющем личность<sup>4</sup>)</span></div>
    <div>1.2.	Имя  <%= @person.im  %><span>(указывается в точном соответствии с записью в документе, удостоверяющем личность)</span></div>
    <div>1.3.	Отчество (при наличии)<sup>5</sup> <%= @person.ot  %><span>(указывается в точном соответствии с записью в документе, удостоверяющем личность)</span></div>
    <table border="0" cellspacing="5" cellpadding="5">
      <tr><td>1.4.	Пол:</td><td>Data</td><td>муж.</td><td>Data</td><td>жен.   (нужное отметить знаком «V»)</td></tr>
    </table>
    <div>1.5.	Категория застрахованного лица (нужное отметить знаком «V»):</div>
    <table border="0" cellspacing="5" cellpadding="5">
      <tr><td>Data</td><td>1)	работающий гражданин Российской Федерации;</td></tr>
      <tr><td>Data</td><td>2)	работающий постоянно проживающий в Российской Федерации иностранный гражданин;</td></tr>
      <tr><td>Data</td><td>3)	работающий временно проживающий в Российской Федерации иностранный гражданин;</td></tr>
      <tr><td>Data</td><td>4)	работающее лицо без гражданства;</td></tr>
      <tr><td>Data</td><td>5)	работающее лицо, имеющее право на медицинскую помощь в соответствии с Федеральным законом «О беженцах»;</td></tr>
      <tr><td>Data</td><td>6)	неработающий гражданин Российской Федерации;</td></tr>
      <tr><td>Data</td><td>7)	неработающий постоянно проживающий в Российской Федерации иностранный гражданин;</td></tr>
      <tr><td>Data</td><td>8)	неработающий временно проживающий в Российской Федерации иностранный гражданин;</td></tr>
      <tr><td>Data</td><td>9)	неработающее лицо без гражданства;</td></tr>
      <tr><td>Data</td><td>10)	неработающее лицо, имеющее право на медицинскую помощь в соответствии с Федеральным законом «О беженцах».</td></tr>
    </table>
    <br/>
    <p>Не являюсь высококвалифицированным специалистом и членом семьи высококвалифицированного специалиста в соответствии с Федеральным законом от 25 июля 2002 года №115-ФЗ «О правовом положении иностранных граждан в Российской Федерации» и не являюсь военнослужащим и приравненным к ним в организации оказания медицинской помощи лицом<sup>6</sup></p>
    <div><span>(подпись застрахованного лица или его представителя)</span></div>
    <div>1.6.	Дата рождения (число, месяц, год)&nbsp;<%= @person.dr.strftime('%d.%m.%Y')  %></div>
    <div>1.7.	Место рождения <%= @person.doc.mr %><span>(указывается в точном соответствии с записью в документе, удостоверяющем личность)</span></div>
    <%=  %>
    
    
</body>
</html>
