<%- model_class = Vizit -%>
<div class="page-header">
  <h6><%=t '.title', :default => model_class.model_name.human %></h6>
</div>


    <div class="row-fluid">
	<div class="span8"><%= @person.fam + " " + @person.im + " " + @person.ot%></div>
	<div class="span4"><%=  %></div>
    </div>
	
    <div class="row-fluid">  
      <div class="span2"><%= @person.dr.strftime('%d.%m.%Y') %></div>
      <div class="span1"><%= @person.w == 1 ? "мужчина" : "женщина"  %></div>
      <div class="span2"><%= @person.phone %></div>
      <div class="span3"><%= @person.email %></div>
      <div class="span3">СНИЛС: <%= @person.ss %></div>
      <div class="span4"><%= @person.fiopr %></div>
      <div class="span8"><%= @person.contact %></div>
    </div>
    <p>
      <%= link_to "Печать временного свидетельства", print_polis_url, :id => @person.vizit.id, target: "_blank"  %>
    </p>
    <p>
      <%= link_to "Печать заявления о выборе(замене) СМО", print_petition_url, :id => @person.vizit.id, target: "_blank"  %>
    </p>
    


<!--$('a.print').click(function (e) {
            e.preventDefault();
            var params = "_blank,menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
            //            'location=0,toolbar=0,menubar=0,status=0,scrollbars=1,width=600,height=500'
            var newWind = window.open('about:blank', '', params);
            $.get($(this).attr('href'), function (response) {
                                newWind.document.body.innerHTML = response;
//                var win = newWind.document.getElementsByTagName('html');
//                win.innerHTML = response;
//                                               newWind.document
                //                for (i = 0; i < newWind.document.styleSheets.length; i++) {
                //                    alert("Таблица стилей " + i + " называется " + newWind.document.styleSheets(i).title);
                //                }
            })
        });-->