<%- model_class = Vizit -%>
<div class="page-header">
  <!-- <h3><%=t '.title', :default => model_class.model_name.human %></h3> -->
  <h3><%= @tags %></h3>
</div>
<div class="person-block">
  <%= @person.fam %> <%= @person.im %> <%= @person.ot %><br />
  <% np_name = @person.addres_g.npname %>
  <% if @person.addres_p %>
    <span>Без регистрации проживает по адресу:</span>
    <%= @person.addres_p.npname %>
    <%= @person.addres_p.ul  %>
    <%= @person.addres_p.dom  %>
    <%= @person.addres_p.korp  %>
    <%= @person.addres_p.kv  %>
  <% else %>
    <span>Фактический адрес совпадает с регистрацией:</span>
    <%= @person.addres_g.npname %>
    <%= @person.addres_g.ul  %>
    <%= @person.addres_g.dom  %>
    <%= @person.addres_g.korp  %>
    <%= @person.addres_g.kv  %>
  <% end %>
</div>
	
  <% if @person.vizit.insurance.polis.vpolis == 2 %>  
    <p>
      <%= link_to "Печать временного свидетельства", print_polis_url(@person), target: "_blank"  %>
    </p>
  <% end -%>
    <p>
      <%= link_to "Печать заявления о выборе(замене) СМО", print_petition_url(@person), target: "_blank"  %>
    </p>


<%= render :partial => 'ats/modal_terr', :locals => { :person => @person } %>
<!-- Modal Atl_fakt -->
<div id="atl_fakt_hModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="faktPrikreplenie" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="faktPrikreplenie">Фактическое прикрепление</h3>
  </div>
  <div class="modal-body">
    <% @at = @person.ats.build %>
    <%= render :partial => 'ats/form', :locals => { :at => @at } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button id="create_at_fakt" class="btn btn-primary" disabled="disabled" disable_with="Please wait...">Сохранить</button>
  </div>
</div>    


<!--$('a.print').click(function (e) {
            e.preventDefault();
            var params = "_blank,menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
            //            'location=0,toolbar=0,menubar=0,status=0,scrollbars=1,width=600,height=500'
            var newWind = window.open('about:blank', '', params);
            $.get($(this).attr('href'), function (response) {
                                newWind.document.body.innerHTML = response;
//                var win = newWind.document.getElementsByTagName('html');
//                win.innerHTML = response;
//                                               newWind.document
                //                for (i = 0; i < newWind.document.styleSheets.length; i++) {
                //                    alert("Таблица стилей " + i + " называется " + newWind.document.styleSheets(i).title);
                //                }
            })
        });-->