
<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if (@user == current_user) and (cannot? :create, User) %>
    <%= f.input :name, :label => 'Имя, фамилия', :input_html => {disabled: 'disabled'} %>
    <%= f.input :email, :input_html => {disabled: 'disabled'} %>
    <%= f.input :password, :label => 'Новый пароль' %>
    <%= f.input :password_confirmation, :label => 'Еще раз.....' %>
  <% else %>
    <%= f.input :name, :label => 'Имя, фамилия' %>
    <%= f.input :login, :input_html => @user.new_record? ? {} : {} %>
    <%= f.input :email %>
    <%= f.input :password, :label => @user.new_record? ? 'Пароль': 'Новый пароль' %>
    <%= f.input :password_confirmation, :label => 'Еще раз.....' %>
    <%= f.association :filial,:label => 'Относится к филиалу', :as => :select, :input_html => { class: 'span4' } %>
    <%= f.association :roles,:label => 'Роль в программе', :as => :check_boxes %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                home_path, :class => 'btn' %>
  </div>
<% end %>