<ul class="nav">
 <li><%= link_to "Новое ЗЛ", new_person_path %></li>
 <li><%= link_to "Найти", search_customers_path %></li>
 <li><%= link_to "Лечебные учреждения", ates_path %></li>
 <% if can? :create, User %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel">
          Файлы
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Файлы для отправки", upload_ops_path, tabindex: "-1" %></li>
        <li><%= link_to "Загрузка данных из XML-файла", uploads_path, tabindex: "-1" %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel_report">
          Отчеты
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel_report">
        <li><%= link_to "Застрахованные за сегодня", today_reports_path, tabindex: "-1" %></li>
        <li><%= link_to "Застрахованные за вчера", yesterday_reports_path, tabindex: "-1" %></li>
        <li class="dropdown-submenu"><%= link_to "Застрахованные за ...", home_path, tabindex: "-1", id: "input_date" %>
          <ul class="dropdown-menu">
            <div data="0" id="menu_datepicker"></div>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Работа за сегодня", jobs_reports_path, tabindex: "-1" %></li>
        <li class="dropdown-submenu"><%= link_to "Работа за ...", home_path, tabindex: "-1" %>
          <ul class="dropdown-menu">
            <div data="1" id="menu_datepicker_jobs"></div>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Дети 14-ти лет", age14_reports_path, tabindex: "-1" %></li>
        <li class="divider"></li>
        <li><%= link_to "Иностранцы", foreigners_reports_path, tabindex: "-1" %></li>
        <li><%= link_to "Поло-возрастное распределение", people_group_counter_reports_path, tabindex: "-1" %></li>
        <li><%= link_to "Ошибки в визите", error_vizit_reports_path, tabindex: "-1" %></li>
        <li><%= link_to "Прикрепление", to_attach_ats_path, tabindex: "-1" %></li>
        
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel_admin">
          Admin
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel_admin">
        <li><%= link_to "Филиалы", filials_path, tabindex: "-1" %></li>
        <li><%= link_to "Users", users_path, tabindex: "-1" %></li>
        <li class="divider"></li>
        <li><%= link_to "Номера временных свидетельств", numbers_uploads_path, tabindex: "-1" %></li>
        
      </ul>
    </li>
 <% end %>
 <% if current_user %>
   <li><%= link_to "Мой профиль", user_path(:current) %></li>
 <% end %>
   <li><%= link_to "Выход", logout_path %></li>
 
</ul>