<ul class="nav">
 <li><%= link_to "Новое ЗЛ", new_person_path %></li>
 <li><%= link_to "Найти", search_customers_path %></li>
 
 <% if can? :create, User %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel">
          Файлы
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Файлы для отправки", upload_ops_path, tabindex: "-1" %></li>
        <li><%= link_to "Номера полисов из XML-файла", upload_xml_uploads_path, tabindex: "-1" %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel_report">
          Отчеты
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel_report">
        <li><%= link_to "Застрахованные за сегодня", today_reports_path, tabindex: "-1" %></li>
        
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" id="dLabel_admin">
          Admin
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel_admin">
        <li><%= link_to "Филиалы", filials_path, tabindex: "-1" %></li>
        <li><%= link_to "Users", users_path, tabindex: "-1" %></li>
        <li><%= link_to "Номера временных свидетельств", numbers_uploads_path, tabindex: "-1" %></li>
        <li><%= link_to "Лечебные учреждения", ats_path, tabindex: "-1" %></li>
      </ul>
    </li>
 <% end %>
 <% if current_user %>
   <li><%= link_to "Мой профиль", user_path(:current) %></li>
 <% end %>
   <li><%= link_to "Выход", logout_path %></li>
 
</ul>