<div class="personale">

<% vizit = @person.vizit   %>
  <% if vizit.nil? %>
    <% insurance = nil %>
    <% polis =nil %>
  <% else %>
    <% insurance = vizit.insurance %>
    <% polis = insurance.polis %>
  <% end %>
  
  <% op = @person.op   %>
  <% filials = Filial.joins(:users).where(:users => {:id => op.user_id}) %>
  <% user = User.find_by_id(op.user_id) %>

  <div class="accordion" id="accordion2">

    <% if !op.nil? %>
      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
              <strong>Информация</strong>
            </a>
        </div>
        <div id="collapseZero" class="accordion-body collapse in">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <dt>появился</dt><dd><%= op.created_at %></dd>
              <dt>последнее обновление</dt><dd><%= op.updated_at %></dd>
              <dt>последнее событие</dt><dd><%= op.tip_op || "-" %></dd>
              <dt>подразделение</dt><dd><%= filials[0].title %></dd>
              <dt>агент</dt><dd><%= user.name %></dd>
              <% if !op.date_uvoln.blank? %>
                <dt>выбыл</dt><dd><%= op.date_uvoln %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    <% end %>

    <div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong>Застрахованное лицо</strong>
          </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <dl class="dl-horizontal">
            <dt>ФИО</dt><dd><%= @person.fam %> <%= @person.im %> <%= @person.ot %></dd>
            <dt>пол</dt><dd><%= @person.w == 1 ? "мужской" : "женский"  %></dd>
            <dt>дата рожд.</dt><dd><%= @person.dr %></dd>
            <dt>гражданство</dt><dd><%= @person.c_oksm %></dd>
            <dt>СНИЛС</dt><dd><%= @person.ss || " - " %></dd>
            <dt>телефон</dt><dd><%= @person.phone.blank? ? "-" : @person.phone %></dd>
            <dt>email</dt><dd><%= @person.email.blank? ? "-" : @person.email %></dd>
            <% if !@person.ddeath.blank? %>
              <dt>дата смерти</dt><dd class="text-error"><%= @person.ddeath %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>

    <% if @person.representative %>
    <%  parent_name = @person.representative.fam + " " + @person.representative.im + " " + @person.representative.ot  %>
    <%  @person.representative %>
    <%  doc_parent = Tipdoc.find_by_id(@person.representative.doctype).docname if @person.representative.doctype %>

      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <strong>Сведения о представителе</strong>
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <dt>ФИО</dt><dd><%= parent_name  %></dd>
              <dt>Отношение к застрахованному</dt><dd><%= @person.representative.parent if @person.representative %></dd>
              <dt>Вид документа</dt><dd><%= UnicodeUtils.upcase(doc_parent) %></dd>
              <dt>Серия</dt><dd><%= @person.representative.docser || "-" %></dd>
              <dt>Номер</dt><dd><%= @person.representative.docnum || "-" %></dd>
              <dt>Дата выдачи</dt><dd><%= @person.representative.docdate || "-" %></dd>
              <dt>Контактный телефон</dt><dd>@person.representative.phone</dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %>

    <div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            <strong>Удостоверение личности</strong>
          </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl class="dl-horizontal">
            <% doc_name = Tipdoc.find_by_id(@person.doc.doctype).docname  %>
            <dt>Документ</dt><dd><%= UnicodeUtils.upcase(doc_name) %></dd>
            <dt>Серия</dt><dd><%= @person.doc.docser %></dd>
            <dt>Номер</dt><dd><%= @person.doc.docnum %></dd>
            <dt>Дата выдачи</dt><dd><%= @person.doc.docdate %></dd>
            <dt>Кем выдан</dt><dd><%= @person.doc.name_vp %></dd>
            <dt>Место рождения</dt><dd><%= @person.doc.mr %></dd>
          </dl>
        </div>
      </div>
    </div> 

    <% if @person.c_oksm != 'RUS'  %>
      <% doc_type = Tipdoc.find_by_id(@person.doc.ig_doctype).docname  %>
      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              <strong>Вид на жительство в Российской Федерации</strong>
            </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              
              <dt>Документ</dt><dd><%= UnicodeUtils.upcase(doc_type) if !doc_type.nil? %></dd>
              <dt>Серия</dt><dd><%= @person.doc.ig_docser %></dd>
              <dt>Номер</dt><dd><%= @person.doc.ig_docnum %></dd>
              <dt>Дата выдачи</dt><dd><%= @person.doc.ig_docdate %></dd>
              <dt>Кем выдан</dt><dd><%= @person.doc.ig_name_vp %></dd>
              <dt>Выдан с</dt><dd><%= @person.doc.ig_startdate %></dd>
              <dt>Выдан по</dt><dd><%= @person.doc.ig_enddate %></dd>
            </dl>
          </div>
        </div>
      </div>
    <% end  %>
  

    <% if @person.old_doc %> 
      <% old_doc_name = Tipdoc.find_by_id(@person.old_doc.doctype).docname  %>
      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              <strong>Прежнее удостоверение личности</strong>
            </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              
              <dt>Документ</dt><dd><%= UnicodeUtils.upcase(old_doc_name) %></dd>
              <dt>Серия</dt><dd><%= @person.old_doc.docser %></dd>
              <dt>Номер</dt><dd><%= @person.old_doc.docnum %></dd>
              <dt>Дата выдачи</dt><dd><%= @person.old_doc.docdate %></dd>
              <dt>Кем выдан</dt><dd><%= @person.old_doc.name_vp %></dd>
              <dt>Место рождения</dt><dd><%= @person.old_doc.mr %></dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %>

    <% if @person.addres_g %>
      <% subj = Subekti.find_by_kod_okato(@person.addres_g.subj)  %>
      <div class="accordion-group">
          <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                <strong>Место жительства по регистрации</strong>
              </a>
          </div>
          <div id="collapseSix" class="accordion-body collapse">
            <div class="accordion-inner">
              <dl class="dl-horizontal">
                <% if !@person.addres_g.bomg.blank? && @person.addres_g.bomg == 1 %><dt>-</dt><dd><%= "БОМЖ" %></dd><% end %>
                <% if !@person.addres_g.indx.blank? %><dt>Индекс</dt><dd><%= @person.addres_g.indx %></dd><% end %>
                <% if !subj.nil? %><dt>Субъект РФ</dt><dd><%= subj.subname  %></dd><% end %>
                <% if !@person.addres_g.rnname.blank? %><dt>Район</dt><dd><%= @person.addres_g.rnname %></dd><% end %>
                <% if !@person.addres_g.npname.blank? %><dt>Населенный пункт</dt><dd><%= @person.addres_g.npname %></dd><% end %>
                <% if !@person.addres_g.ul.blank? %><dt>Улица</dt><dd><%= @person.addres_g.ul %></dd><% end %>
                <% if !@person.addres_g.dom.blank? %><dt>Дом</dt><dd><%= @person.addres_g.dom %></dd><% end %>
                <% if !@person.addres_g.korp.blank? %><dt>Корпус</dt><dd><%= @person.addres_g.korp %></dd><% end %>
                <% if !@person.addres_g.kv.blank? %><dt>Квартира</dt><dd><%= @person.addres_g.kv %></dd><% end %>
                <% if !@person.addres_g.dreg.blank? %><dt>Дата регистрации</dt><dd><%= @person.addres_g.dreg %></dd><% end %>
              </dl>
            </div>
          </div>
      </div>
    <% end %>

    <% if @person.addres_p %>
      <% subj_p = Subekti.find_by_kod_okato(@person.addres_p.subj)  %>
      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
              <strong>Место жительства фактическое</strong>
            </a>
        </div>
        <div id="collapseSeven" class="accordion-body collapse">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <% if !@person.addres_p.indx.blank? %><dt>Индекс</dt><dd><%= @person.addres_p.indx %></dd><% end %>
              <% if !subj_p.nil? %><dt>Субъект РФ</dt><dd><%= subj_p.subname  %></dd><% end %>
              <% if !@person.addres_p.rnname.blank? %><dt>Район</dt><dd><%= @person.addres_p.rnname %></dd><% end %>
              <% if !@person.addres_p.npname.blank? %><dt>Населенный пункт</dt><dd><%= @person.addres_p.npname %></dd><% end %>
              <% if !@person.addres_p.ul.blank? %><dt>Улица</dt><dd><%= @person.addres_p.ul %></dd><% end %>
              <% if !@person.addres_p.dom.blank? %><dt>Дом</dt><dd><%= @person.addres_p.dom %></dd><% end %>
              <% if !@person.addres_p.korp.blank? %><dt>Корпус</dt><dd><%= @person.addres_p.korp %></dd><% end %>
              <% if !@person.addres_p.kv.blank? %><dt>Квартира</dt><dd><%= @person.addres_p.kv %></dd><% end %>
            </dl>
          </div>
        </div>
      </div>
    <% end %>

    <% if !vizit.nil? %>
      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
              <strong>Визит в СМО ЦМС</strong>
            </a>
        </div>
        <div id="collapseEight" class="accordion-body collapse">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <dt>дата визита</dt><dd><%= vizit.dvizit || "-" %></dd>
              <dt>способ визита</dt><dd><%= method(vizit.method) %></dd>
              <% if !vizit.rsmo.nil? %><dt>выбор СМО</dt><dd><%= vibor_smo(vizit.rsmo) %></dd><% end %>
              <% if vizit.petition == "1" %><dt>подано ходатайство</dt><dd>ДА</dd><% end %>
              <dt>форма изготовления полиса</dt><dd><%= formapolisa(vizit.fpolis) || "-" %></dd>
              <dt>замена полиса</dt><dd><%= zamena_polisa(vizit.rpolis) || "-" %></dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %> 

  </div>
</div>

<div class="person-block personale">
  <% if !insurance.nil? %>
    <div>
      <p><strong>Страхование</strong></p>
        <% insurance.attributes.each do |attr|  %>
          <%= attr %><br>
        <% end  %>
    </div>
  <% end  %>
  <% if !polis.nil? %>
    <div>
      <p><strong>Документ страхования</strong></p>
        <% polis.attributes.each do |attr|  %>
          <%= attr %><br>
        <% end  %>
    </div>
  <% end  %>

</div>
<div class="person-block personale">
<% if vizit.nil? %>
  <%= link_to t("Новый визит"), {:controller => "vizits", :action => "new", :id => @person},
  :id => "customers_search_new_vizit",:class => "btn", :role => "button"
  %>
  <% end %>
  
  <%= link_to t("Выбытие ЗЛ"), {:action => "edit_ops", :id => @person}, 
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
  :default => 'Вы уверенны что это лицо выбыло ?')) }, 
  :id => "customers_search_021",:class => "btn", :role => "button"
  %>
  
  <a href="#deathModal" role="button" class="btn" data-toggle="modal">Выбытие в связи со смертью</a>
  
  <%= link_to t("Выдача на руки полиса<br>после временного свидетельства"), {:action => "edit_polis", :id => @person},
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
  :default => 'Вы уверенны, что выдаете полис именно этому лицу ?')) }, 
  :id => "customers_search_060",:class => "btn", :role => "button"
  %>
  
  <%= link_to t("Изменение данных о <br> застрахованном лице"), { :action => "edit", :id => @person } ,
  :id => "customers_search_edit",:class => "btn", :role => "button"
  %>
  
</div>
<!-- Modal -->
<div id="deathModal" class="modal hide fade personale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Укажите дату смерти</h3>
  </div>
  <div class="modal-body">
    <input id="customers_search_customer_id" type="hidden" value=<%= @person.id %> />
    
    <p><input type="text" id="dp_date_of_death"/></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="customers_search_022" class="btn btn-primary" disabled="disabled">Save changes</button>
  </div>
</div>







