<%- model_class = Vizit -%>
<div class="page-header">
  <h3><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h3>
</div>
<div class="person-block">
  <%= @vizit.person.fam %> <%= @vizit.person.im %> <%= @vizit.person.ot %><br />
</div>
<% directory = "public/numbers" %>
<% name = "numbers.ini" %>
<% path = File.join(directory, name) %>
<% ini_file = IniFile.load(path).to_h %>

<%= simple_form_for @vizit, :url => build_doublecat_polis_customers_path, :method => :post,  :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f| %>

    <%= f.input :id, :as => :hidden %>
    
    <%= f.input :rpolis, :as => :radio_buttons,:label => 'Причина', :item_wrapper_class => 'inline',:collection =>  zamena_polis_datas  %>

    <%= f.simple_fields_for @vizit.insurance do |fin| %>
    
    <%= fin.input :id, :as => :hidden %>
    
    <%= fin.input :vizit_id, :as => :hidden %>
    
      <%= fin.simple_fields_for @vizit.insurance.polis, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |fpol| %>
    
      <%= fpol.input :spolis, :collection => ini_file.values.collect{|x| x["series"]}, :label => 'Серия временного свидетельства',:input_html => { :class => "span1" } %>
      
      <%= fpol.input :npolis, :label => 'Номер временного свидетельства',:input_html => { class: "span2", maxlength: 6 } %>
      
      <%= fpol.input :dstop, :as => :hidden %>
      
      <%= fpol.input :insurance_id, :as => :hidden %>
      
      <%= fpol.input :id, :as => :hidden %>
      <% end %>
    <% end %>
    
    
    <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                home_path, :class => 'btn' %>
  </div>

<% end %>