<%= simple_form_for @addres_p, :validate => true, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f| %>
     
   <%= f.input :subj, :label => 'Субъект РФ',  :collection => Subekti.all(:order => :subname),
		    :label_method => :subname, :value_method => :kod_okato, :include_blank => false,
		    :input_html => { :class => "span4" }%>

   <%= f.input :indx, :label => 'Почтовый индекс' %>

   <%= f.input :okato %>

   <%= f.input :rnname, :label => 'Район', :input_html => {onkeyup:'this.value=this.value.toUpperCase()'} %>

   <%= f.input :npname, :label => 'Населенный пункт' %>

   <%= f.input :ul, :label => 'Улица' %>
  
   <%= f.input :dom, :label => 'Дом', :input_html => { :class => "span1" } %>

   <%= f.input :korp, :label => 'Корпус', :input_html => { :class => "span1" } %>

   <%= f.input :kv, :label => 'Квартира', :input_html => { :class => "span1" } %>
     
   <div class="control-group boolean optional">
        <div class="controls">
          <input type="hidden" value="0" name="touch">
            <label class="checkbox">
            <input id="touch" class="boolean optional" type="checkbox" value="1" name="touch" >
              исправления для ТерФОМС
            </label>
        </div>
   </div>

  <div class="form-actions">
    <%= f.button :submit , :id => 'edit_addres_p', :class => 'btn btn-primary',:value => 'Сохранить', :disable_with => 'Saving...' %>
    <%= link_to 'Отменить', home_path, :class => 'btn' %>
  </div>
<% end %>