<%- model_class = AddresP -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:subj) %>:</strong></dt>
  <dd><%= @addres_p.subj %></dd>
  <dt><strong><%= model_class.human_attribute_name(:indx) %>:</strong></dt>
  <dd><%= @addres_p.indx %></dd>
  <dt><strong><%= model_class.human_attribute_name(:okato) %>:</strong></dt>
  <dd><%= @addres_p.okato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rnname) %>:</strong></dt>
  <dd><%= @addres_p.rnname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:npname) %>:</strong></dt>
  <dd><%= @addres_p.npname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ul) %>:</strong></dt>
  <dd><%= @addres_p.ul %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dom) %>:</strong></dt>
  <dd><%= @addres_p.dom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:korp) %>:</strong></dt>
  <dd><%= @addres_p.korp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kv) %>:</strong></dt>
  <dd><%= @addres_p.kv %></dd>
  <dt><strong><%= model_class.human_attribute_name(:person_id) %>:</strong></dt>
  <dd><%= @addres_p.person_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              addres_ps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_addres_p_path(@addres_p), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              addres_p_path(@addres_p),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
