<%= simple_form_for @filial, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.input :id, :label => 'Идентификатор',:input_html => { :class => "span2", :disabled => @filial.new_record? ? false : true } %>
  
  <%= f.input :title,:label => 'Наименование', :input_html => { :class => "span6" } %>
  
  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary', :value => 'Сохранить' %>
    
    <%= link_to 'Отменить', filials_path, :class => 'btn' %>
  </div>
<% end %>
