<%- model_class = Filial -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>

<table  class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Наименование</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>
    <% @filials.each do |filial| %>
      <tr>
      	<td><%= filial.id %></td>
      	<td><%= link_to filial.title, filial_path(filial) %></td>
      	<td><%= link_to 'Изменить', edit_filial_path(filial), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
<%= link_to 'Новый', new_filial_path, :class => 'btn btn-primary' %>
<%= link_to 'Отменить', home_path, :class => 'btn' %>
</div>