<%= form.simple_fields_for @person.addres_g, :html => { :class => 'form-horizontal' } do |f| %>
  
       <%= f.input :bomg, :validate => false,  :label => 'БОМЖ', :as => :boolean %>
    
       <%= f.input :subj, :label => 'Субъект РФ',  :collection => Subekti.all(:order => :subname),
		    :label_method => :subname, :value_method => :kod_okato, :include_blank => false,
		    :input_html => { :class => "span4" }%>
   
       <%= f.input :indx, :label => 'Почтовый индекс' %>
    
       <%= f.input :okato , :hint => 'ОКАТО появится здесь после выбора наслеленного пункта. ' + '<span class="text-error"> КРОМЕ ИНОБЛАСТНЫХ!!!</span>' %>
    
       <%= f.input :rnname, :label => 'Сельский район',:placeholder => 'ГУРЬЕВСКИЙ РАЙОН', :input_html => {onkeyup:'this.value=this.value.toUpperCase()'} %>
    
      <%= f.input :npname, :label => 'Населенный пункт', :placeholder => 'КИСЕЛЕВСК Г.',:input_html => {onkeyup:'this.value=this.value.toUpperCase()'},
      :hint => 'в выпадающем списке населенные пункты ' + '<span class="text-error">ТОЛЬКО КЕМЕРОВСКОЙ ОБЛАСТИ</span>' + ' инобластные вводить, как показано в шаблоне КИСЕЛЕВСК Г.'  %>
   
       <%= f.input :ul, :label => 'Улица', :placeholder => 'КИРОВА УЛ',:input_html => {onkeyup:'this.value=this.value.toUpperCase()'},
      :hint =>'если нужной улицы нет в выпадающем списке, то ввести, как на шаблоне'  %>
      
      <%= f.input :dom, :label => 'Дом', :input_html => { :class => "span1" } %>
   
      <%= f.input :korp, :label => 'Корпус', :input_html => { :class => "span1" } %>
    
      <%= f.input :kv, :label => 'Квартира', :input_html => { :class => "span1" } %>
    
      <%= f.input :dreg, :label => 'Дата регистрации', :include_blank => true, :as => :date, :start_year => Date.today.year - 40,:end_year => Date.today.year,:order => [:day, :month, :year] %>
    
<% end %>
