<div class="page-header">
  <h3>Задать диапозон номеров временных свидетельств</h3>
</div>

<div>
  
  <%= form_tag({:action => "save_numbers"}, :autocomplete => 'off') do  %>
  <% @ini_file.each_pair do |key,val| %>
  
  <div class="numbers-line">
  <%= text_field_tag key + '_series', val["series"] , :placeholder => 'серия' %>
  <%= text_field_tag key + '_start', val["start"] , :placeholder => 'c...' %>
  <%= text_field_tag key + '_end', val["end"] , :placeholder => 'по...' %>
  <%= link_to "Удалить", nil, {:class => "numbers-line-remove"} %>
  <% %>
  </div>
  <% end %>
  <p id="numbers_line_add">
    <%= link_to "Добавить", nil, {:class => "numbers-line-add"} %>
  </p>
  <div class="form-actions">
    <%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit btn btn-primary", 
    :disabled => false, :disable_with => "Please wait..." %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                home_path, :class => 'btn' %>
  </div>
    <% end %>
</div>
