<p>
<h4>Дети старше 14 лет без паспорта</h4>
  <input type="button" id="print" onclick="javascript:print()" value="Печать"/>

</p>
<table id="age14_table_id" class="display">
    <thead>
        <tr>
            <th>Агент</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>дата_рождения</th>
            <th>полных_лет</th>
        </tr>
    </thead>
    <tbody>
     <% @people.find_each do |person| %> 
        <tr>
            <% user_name = person.op.user.name.split(" ") %>
            <td><%= user_name[0] + " " + user_name[1].slice(0,1) + "." %></td>
            <td><%= person.fam %></td>
            <td><%= person.im %></td>
            <td><%= person.ot %></td>
            <td><%= person.dr %></td>
            <td><%= ((DateTime.current - person.dr)/365.25).round(3) %></td>
        </tr>
     <% end %>   
    </tbody>
</table>