<p>
  <h4></h4>
</p>
<table id="" class="table table-striped">
    <thead>
        <tr>
            <th>Агент</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>дата_рождения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     <% @people.find_each do |person| %> 
        <tr>
            <% user_name = person.op.user.name.split(" ") %>
            <td><%= user_name[0] + " " + user_name[1].slice(0,1) + "." %></td>
            <td><%= person.fam %></td>
            <td><%= person.im %></td>
            <td><%= person.ot %></td>
            <td><%= person.dr %></td>
            <td><%= link_to 'Удалить', person, :confirm => "Вы уверены, что нужно удалить #{person.fam}?", :method => :delete %></td>
        </tr>
     <% end %>   
    </tbody>
</table>